#
# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config secondary_board
    string
    default "$(board)"

config secondary_toolchain
    string
    default "$(toolchain)"

config secondary_core_id
    string
    default "cm7_core0" if $(board) = "imx943evk" && $(core_id) = "cm33_core1"

# This is for internal board support
osource "${SdkRootDirPath}/${board_root}/${board}/Kconfig.sysbuild"
