# Copyright 2024 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

rsource "Kconfig.defconfig"

config MCUX_HW_BOARD_mcimx93qsb
    bool
    default y
    imply MCUX_HW_DEVICE_MIMX9322
