config MCUX_PRJSEG_module.dsp_support
    bool "Use examples/_boards/${board}/dsp_examples/dsp_support.c"

config MCUX_PRJSEG_module.incbin
    bool "Use examples/_boards/${board}/dsp_examples/incbin.S"

config MCUX_PRJSEG_module.incbin_for_core
    bool "Use examples/_boards/${board}/dsp_examples/incbin_${core_id}.S"
