iar
atl
kds
mdk
armgcc
lpcx
mcux
xcc
xtensa
codewarrior
*.xml
48k_stereo_wav.h
sine.pcm.h
hihat_dec_out.pcm.h
hihat.mp3.h
aac.adts.h
*.~
*.swp
!*/wireless_examples/linker/iar
!*/wireless_examples/linker/mcux
!*/wireless_examples/linker/mdk
build/