# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

menu "Project Settings"

config DEMO_DMA_ADC_CHANNEL
    int "DMA Channel"
    default 0
    help
        No prefix in generated macro
        type unsigned

config DMA_DESCRIPTOR_NUM
    int "DMA Descriptor Numbers"
    default 2
    help
        No prefix in generated macro
        type unsigned

endmenu

source "${SdkRootDirPath}/Kconfig.mcuxpresso"