# Copyright 2024 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
#

config MCUX_PRJSEG_module.board.display_support
    select MCUX_COMPONENT_driver.display-rm68200
    select MCUX_COMPONENT_driver.display-rm68191
    select MCUX_COMPONENT_driver.display-hx8394
    select MCUX_COMPONENT_driver.display-rm67162
    select MCUX_COMPONENT_driver.display-co5300
    select MCUX_COMPONENT_driver.display-rpi
    select MCUX_COMPONENT_driver.ssd1963
    select MCUX_COMPONENT_driver.st7796s
    select MCUX_COMPONENT_driver.dc-fb-dsi-cmd
    select MCUX_COMPONENT_driver.dc-fb-lcdif
    select MCUX_COMPONENT_driver.dc-fb-dbi
    select MCUX_COMPONENT_driver.dbi_lcdif
    select MCUX_COMPONENT_driver.dbi_flexio_edma
    select MCUX_COMPONENT_driver.lpflexcomm_lpi2c
    select MCUX_COMPONENT_driver.gpio
    select MCUX_COMPONENT_driver.edma4
    select DBI_USE_MIPI_PANEL

# Which panels the board supports
config MCUX_DEMO_PANEL_TFT_PROTO_5_SUPPORT
    default y

config MCUX_DEMO_PANEL_RK055AHD091_SUPPORT
    default y

config MCUX_DEMO_PANEL_RK055IQH091_SUPPORT
    default y

config MCUX_DEMO_PANEL_G1120B0MIPI_SUPPORT
    default y

config MCUX_DEMO_PANEL_RK055MHD091A0_SUPPORT
    default y

config MCUX_DEMO_PANEL_RASPI_7INCH_SUPPORT
    default y

config MCUX_DEMO_PANEL_ZC143AC72MIPI_SUPPORT
    default y

config MCUX_DEMO_PANEL_LCD_PAR_S035_SUPPORT
    default y

if MCUX_PRJSEG_module.board.display_support

    choice DISPLAY_SUPPORT_PANEL
        default RK055MHD091A0
    endchoice

    config SSD1963_DRIVEN_BY
        int
        default 0 if DEMO_PANEL_TFT_PROTO_5_FLEXIO
        default 1 if DEMO_PANEL_TFT_PROTO_5_LCDIF
        help
            Driver selection for panel TFT_PROTO_5
            No prefix in generated macro

    choice DEMO_PANEL_TFT_PROTO_5_DRIVER
        prompt "TFT_PROTO_5 driver Selection"
        default DEMO_PANEL_TFT_PROTO_5_LCDIF

        config DEMO_PANEL_TFT_PROTO_5_FLEXIO
            bool "Use FLEXIO to drive TFT_PROTO_5"

        config DEMO_PANEL_TFT_PROTO_5_LCDIF
            bool "Use LCDIF to drive TFT_PROTO_5"

    endchoice

    config DEMO_SSD1963_BUFFER_FORMAT
        int
        default 0 if DEMO_SSD1963_BUFFER_RGB565
        default 1 if DEMO_SSD1963_BUFFER_RGB888
        help
            No prefix in generated macro

    choice DEMO_SSD1963_BUFFER_FORMAT_SELECTION
        prompt "TFT_PROTO_5 panel pixel format"
        default DEMO_SSD1963_BUFFER_RGB565 if LV_COLOR_DEPTH_16
        default DEMO_SSD1963_BUFFER_RGB888 if LV_COLOR_DEPTH_24
        default DEMO_SSD1963_BUFFER_RGB565

        config DEMO_SSD1963_BUFFER_RGB565
            bool "RGB565 - 16bit"

        config DEMO_SSD1963_BUFFER_RGB888
            bool "RGB888 - 24bit"
    endchoice


    config DEMO_RM67162_BUFFER_FORMAT
        int
        default 0 if DEMO_RM67162_BUFFER_RGB565
        default 1 if DEMO_RM67162_BUFFER_RGB888
        help
            No prefix in generated macro

    choice DEMO_RM67162_BUFFER_FORMAT_SELECTION
        prompt "G1120B0MIPI panel pixel format"
        default DEMO_RM67162_BUFFER_RGB565 if LV_COLOR_DEPTH_16
        default DEMO_RM67162_BUFFER_RGB888 if LV_COLOR_DEPTH_24
        default DEMO_RM67162_BUFFER_RGB565

        config DEMO_RM67162_BUFFER_RGB565
            bool "RGB565 - 16bit"

        config DEMO_RM67162_BUFFER_RGB888
            bool "RGB888 - 24bit"
    endchoice

    config DEMO_CO5300_BUFFER_FORMAT
        int
        default 0 if DEMO_CO5300_BUFFER_RGB565
        default 1 if DEMO_CO5300_BUFFER_RGB888
        help
            No prefix in generated macro

    choice DEMO_CO5300_BUFFER_FORMAT_SELECTION
        prompt "ZC143AC72MIPI pixel format"
        default DEMO_CO5300_BUFFER_RGB565 if LV_COLOR_DEPTH_16
        default DEMO_CO5300_BUFFER_RGB888 if LV_COLOR_DEPTH_24 || MCUX_COMPONENT_middleware.libjpeg
        default DEMO_CO5300_BUFFER_RGB565

        config DEMO_CO5300_BUFFER_RGB565
            bool "RGB565 - 16bit"

        config DEMO_CO5300_BUFFER_RGB888
            bool "RGB888 - 24bit"
    endchoice

    config DEMO_RK055AHD091_USE_XRGB8888
        int
        default 0 if DEMO_RK055AHD091_BUFFER_RGB565
        default 1 if DEMO_RK055AHD091_BUFFER_XRGB8888
        help
            No prefix in generated macro

    choice DEMO_RK055AHD091_BUFFER_FORMAT_SELECTION
        prompt "RK055HDMIPI4M MIPI Panel pixel format"
        default DEMO_RK055AHD091_BUFFER_RGB565   if LV_COLOR_DEPTH_16
        default DEMO_RK055AHD091_BUFFER_XRGB8888 if LV_COLOR_DEPTH_32
        default DEMO_RK055AHD091_BUFFER_RGB565

        config DEMO_RK055AHD091_BUFFER_RGB565
            bool "RGB565 - 16bit"

        config DEMO_RK055AHD091_BUFFER_XRGB8888
            bool "XRGB888 - 32bit"
    endchoice

    config DEMO_RK055MHD091_USE_XRGB8888
        int
        default 0 if DEMO_RK055MHD091_BUFFER_RGB565
        default 1 if DEMO_RK055MHD091_BUFFER_XRGB8888
        help
            No prefix in generated macro

    choice DEMO_RK055MHD091_BUFFER_FORMAT_SELECTION
        prompt "RK055MHD091A0-CTG MIPI Panel pixel format"
        default DEMO_RK055MHD091_BUFFER_RGB565   if LV_COLOR_DEPTH_16
        default DEMO_RK055MHD091_BUFFER_XRGB8888 if LV_COLOR_DEPTH_32
        default DEMO_RK055MHD091_BUFFER_RGB565

        config DEMO_RK055MHD091_BUFFER_RGB565
            bool "RGB565 - 16bit"

        config DEMO_RK055MHD091_BUFFER_XRGB8888
            bool "XRGB888 - 32bit"
    endchoice

    config ST7796S_DRIVEN_BY
        int
        default 0 if DEMO_PANEL_LCD_PAR_S035_FLEXIO
        default 1 if DEMO_PANEL_LCD_PAR_S035_LCDIF
        help
            Driver selection for panel LCD_PAR_S035
            No prefix in generated macro

    choice DEMO_PANEL_LCD_PAR_S035_DRIVER
        prompt "LCD_PAR_S035 driver Selection"
        default DEMO_PANEL_LCD_PAR_S035_LCDIF

        config DEMO_PANEL_LCD_PAR_S035_FLEXIO
            bool "Use FLEXIO to drive LCD_PAR_S035"

        config DEMO_PANEL_LCD_PAR_S035_LCDIF
            bool "Use LCDIF to drive LCD_PAR_S035"

    endchoice

    config DEMO_LCD_PAR_S035_BUFFER_FORMAT
        int
        default 0 if DEMO_LCD_PAR_S035_BUFFER_RGB565
        default 1 if DEMO_LCD_PAR_S035_BUFFER_RGB888
        help
            No prefix in generated macro

    choice DEMO_LCD_PAR_S035_BUFFER_FORMAT_SELECTION
        prompt "LCD-PAR-S035 panel pixel format"
        default DEMO_LCD_PAR_S035_BUFFER_RGB565 if LV_COLOR_DEPTH_16
        default DEMO_LCD_PAR_S035_BUFFER_RGB888 if LV_COLOR_DEPTH_24
        default DEMO_LCD_PAR_S035_BUFFER_RGB565

        config DEMO_LCD_PAR_S035_BUFFER_RGB565
            bool "RGB565 - 16bit"

        config DEMO_LCD_PAR_S035_BUFFER_RGB888
            bool "RGB888 - 24bit"
    endchoice

endif
