# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause
#

config MCUX_PRJSEG_module.board.display_support
    select MCUX_COMPONENT_driver.display-rm68200
    select MCUX_COMPONENT_driver.display-hx8394
    select MCUX_COMPONENT_driver.lpi2c

# Which panels the board supports
config MCUX_DEMO_PANEL_RK055AHD091_SUPPORT
    default y

config MCUX_DEMO_PANEL_RK055MHD091A0_SUPPORT
    default y

if MCUX_PRJSEG_module.board.display_support

    choice DISPLAY_SUPPORT_PANEL
        default RK055MHD091A0

    endchoice

    config APP_DISPLAY_EXTERNAL_CONVERTOR
        bool "Use HDMI port"
        help
            No prefix in generated macro

endif
