# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause
rsource "${SdkRootDirPath}/Kconfig.mcuxpresso"

mainmenu "EL2GO Blob Test Configuration"

config RUN_VERIFIED_ONLY
    default y
    bool "Only run testcases that are expected to pass"
