# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

rsource "Kconfig.defconfig"
rsource "${core_id}/Kconfig"

config MCUX_HW_BOARD_imx943evk
    bool
    default y
    imply MCUX_ABSTRACT_COMPONENT_component_expander
    imply MCUX_COMPONENT_driver.pca6416a
    imply MCUX_COMPONENT_driver.pcal6408
    imply MCUX_COMPONENT_component.i2c_mux
    imply MCUX_COMPONENT_component.i2c_mux_pca954x
    imply MCUX_COMPONENT_component.enable_pca9544
    imply MCUX_COMPONENT_component.enable_pca9548
    imply MCUX_HW_DEVICE_MIMX94398
    imply MCUX_COMPONENT_driver.wm8962
    imply MCUX_COMPONENT_component.ele_base_api
    imply MCUX_COMPONENT_driver.mu1
    imply MCUX_COMPONENT_component.sm.crc
    imply MCUX_COMPONENT_component.sm.scmi
    imply MCUX_COMPONENT_component.sm.smt
    imply MCUX_COMPONENT_driver.xbar_1
    select MCUX_PRJSEG_module.srtm_config if MCUX_COMPONENT_driver.srtm
    select MCUX_PRJSEG_module.custom_rsc_table if MCUX_COMPONENT_driver.srtm

config MCUX_COMPONENT_driver.sm_cfg
    bool
    default n

config MCUX_COMPONENT_driver.non_sm_cfg
    bool
    default n

config MCUX_PRJSEG_module.srtm_config
    bool
    default n

config MCUX_PRJSEG_module.custom_rsc_table
    bool
    default n
