# Copyright 2024 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
#

config MCUX_PRJSEG_module.board.display_support
    select MCUX_COMPONENT_driver.display-rm68200
    select MCUX_COMPONENT_driver.display-rm68191
    select MCUX_COMPONENT_driver.display-hx8394
    select MCUX_COMPONENT_driver.display-rm67162
    select MCUX_COMPONENT_driver.dc-fb-lcdif
    select MCUX_COMPONENT_driver.dc-fb-dsi-cmd
    select MCUX_COMPONENT_driver.dc-fb-ssd1963
    select MCUX_COMPONENT_driver.mipi_dsi_smartdma
    select MCUX_COMPONENT_driver.flexio_mculcd_smartdma
    select MCUX_COMPONENT_driver.dbi_flexio_smartdma

# Which panels the board supports
config MCUX_DEMO_PANEL_TFT_PROTO_5_SUPPORT
    default y

config MCUX_DEMO_PANEL_RK055AHD091_SUPPORT
    default y

config MCUX_DEMO_PANEL_RK055IQH091_SUPPORT
    default y

config MCUX_DEMO_PANEL_G1120B0MIPI_SUPPORT
    default y

config MCUX_DEMO_PANEL_RK055MHD091A0_SUPPORT
    default y

if MCUX_PRJSEG_module.board.display_support

    choice DISPLAY_SUPPORT_PANEL
        default DEMO_PANEL_RK055MHD091A0

    endchoice
endif
