# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

menu "Project Settings"

source "${SdkRootDirPath}/examples/driver_examples/enet_qos/Kconfig"

config APP_ENET_QOS_BUFF_ALIGNMENT
    string "Ethernet Buffers Alignment"
    default "ENET_QOS_BUFF_ALIGNMENT"
    help
        No prefix in generated macro

endmenu

source "${SdkRootDirPath}/Kconfig.mcuxpresso"
