# Copyright 2024 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
#

config MCUX_PRJSEG_module.board.display_support
    select MCUX_COMPONENT_driver.st7796s
    select MCUX_COMPONENT_driver.ili9341
    select MCUX_COMPONENT_driver.gt911
    select MCUX_COMPONENT_driver.ft6x06
    select MCUX_COMPONENT_driver.dc-fb-dbi
    select MCUX_COMPONENT_driver.dbi_lcdic_dma
    select MCUX_COMPONENT_driver.dbi_lpc_spi_dma
    select MCUX_COMPONENT_driver.inputmux
    select MCUX_COMPONENT_driver.flexcomm_i2c
    select ILI9341_USE_DBI_IFACE
    select FT6X06_USE_SIMPLE_I2C_API

# Which panels the board supports
config MCUX_DEMO_PANEL_ADAFRUIT_2_8_SUPPORT
    default y

config MCUX_DEMO_PANEL_LCD_PAR_S035_SUPPORT
    default y

if MCUX_PRJSEG_module.board.display_support

    choice DISPLAY_SUPPORT_PANEL
        default DEMO_PANEL_LCD_PAR_S035

    endchoice

endif
