# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

menu "Project Settings"

config SEMC_EXAMPLE_DATALEN
    hex "SEMC Buffer Length"
    default 0x1000
    help
        No prefix in generated macro
        type unsigned

config SEMC_EXAMPLE_WRITETIMES
    int "SEMC Example write times"
    default 1000
    help
        No prefix in generated macro
        type unsigned
endmenu

source "${SdkRootDirPath}/Kconfig.mcuxpresso"
