config MCUX_PRJSEG_module.board.lvgl
    select MCUX_COMPONENT_driver.flexcomm_i2c
    select MCUX_COMPONENT_driver.ft5406
    select MCUX_COMPONENT_driver.gt911
    select MCUX_COMPONENT_driver.lpc_lcdc
    select MCUX_COMPONENT_driver.video-common

if MCUX_PRJSEG_module.board.lvgl

    config LVGL_PANEL
        int
        default 0 if MCUX_PRJSEG_module.board.lvgl.RK043FN02H
        default 1 if MCUX_PRJSEG_module.board.lvgl.RK043FN66HS
        help
            Panel selection for LVGL
            No prefix in generated macro

    choice MCUX_PRJSEG_module.board.lvgl.panel
        prompt "Panel Selection"
        default MCUX_PRJSEG_module.board.lvgl.RK043FN66HS

        config MCUX_PRJSEG_module.board.lvgl.RK043FN02H
            bool "RK043FN02H-CT"

        config MCUX_PRJSEG_module.board.lvgl.RK043FN66HS
            bool "RK043FN66HS-CTG"

    endchoice

endif
