# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_PRJSEG_module.board.wireless.app_services
    bool "Wireless Application Services"
    help
      This is a collection of APP helpers used in wireless examples to abstract the initialization flow of
      some software components acting like services. This is a template for demo purpose and doesn't aim to
      always support all use cases.

config MCUX_PRJSEG_module.board.wireless.board_comp
    bool "Wireless Board Components"
    help
      This is a collection of BOARD helpers used in wireless examples to configure some SDK components such
      as LEDs, buttons, IOs. This is a template for demo purpose and doesn't aim to always support all use cases.

config MCUX_PRJSEG_module.board.wireless.board_lp
    bool "Wireless Board Low Power"
    select MCUX_COMPONENT_component.power_manager_framework
    select MCUX_COMPONENT_middleware.wireless.framework
    select MCUX_COMPONENT_middleware.wireless.framework.platform
    help
      This is a collection of BOARD helpers used in wireless examples to handle low power entry/exit at board level.
      This is a template for demo purpose and doesn't aim to always support all use cases.

orsource "../../../../_boards/${board}/project_segments/wireless/Kconfig.prjseg"
