# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

menu "Project Settings"

config DLC
    int "DLC field value of frame to be transmitted, indicates CANFD frame data length (Range: 1~15)"
    default 15
    range 1 15
    help
        DLC         1  2  3  4  5  6  7  8  9   10  11  12  13  14  15
        Data Length 1  2  3  4  5  6  7  8  12  16  20  24  32  48  64
        No prefix in generated macro
        type unsigned

endmenu

source "${SdkRootDirPath}/Kconfig.mcuxpresso"
