# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_PRJSEG_module.board.wireless.linker_script
    bool "Connectivity linker script"
    help
      Use the linker script provided by the Connectivity Framework for the current platform.
      This should be left disabled if the user wants to use a custom linker script.

config MCUX_PRJSEG_module.board.wireless.linker_script_ble
    bool "Connectivity linker script for bluetooth"
    help
      Use the linker script provided by the Connectivity Framework for the current platform in case of bluetooth examples.
      This should be left disabled if the user wants to use a custom linker script.

config MCUX_PRJSEG_module.board.wireless.core_linker_script
    bool "Connectivity linker script for specific core"
    help
      Use the linker script provided by the Connectivity Framework for the current platform core.
      This should be left disabled if the user wants to use a custom linker script.
