rsource "${SdkRootDirPath}/Kconfig.mcuxpresso"

mainmenu "EL2GO Import Blob Configuration"

config BLOB_AREA
    default 0x084B0000
    hex "The start address of the area where the blobs should be read from"
    help
        No prefix in generated macro

config BLOB_AREA_SIZE
    default 8192
    int "The size of the area where the blobs should be read from in bytes"
    help
        No prefix in generated macro

config VALIDATE_PSA_IMPORT_OPERATION
    bool "If the imported blobs should be validated by using them in PSA operations"
    help
        No prefix in generated macro
