# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

menu "Project Settings"

config BUFF_LENGTH
    int "Number of buffer length"
    default 4
    help
        No prefix in generated macro

config DMA_DESCRIPTOR_NUM
    int "Number of dma descriptor"
    default 3
    help
        No prefix in generated macro

config DEST_BUFFER_LENGTH
    int "Number of Destination buffer length"
    default 16
    help
        No prefix in generated macro

endmenu

source "${SdkRootDirPath}/Kconfig.mcuxpresso"