# Copyright 2024-2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

rsource "Kconfig.defconfig"

config MCUX_HW_BOARD_mc56f80000evk
    bool
    default y
    imply MCUX_HW_DEVICE_MC56F80748
    imply MCUX_COMPONENT_driver.clock
    imply MCUX_COMPONENT_driver.dsc_gpio
    imply MCUX_COMPONENT_driver.dsc_device_sim
    imply MCUX_COMPONENT_driver.intc

    ## Board project segment dependency data
    select MCUX_COMPONENT_component.qsci_adapter if MCUX_PRJSEG_module.board.console_lite
