# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

rsource "Kconfig.defconfig"

config MCUX_HW_BOARD_mc56f80000evk
    bool
    default y
    imply MCUX_HW_DEVICE_MC56F80748
    imply MCUX_COMPONENT_driver.dsc_gpio
    imply MCUX_COMPONENT_driver.qsci
    imply MCUX_COMPONENT_driver.common
    imply MCUX_COMPONENT_driver.dsc_sim

    ## Board project segment dependency data
    select MCUX_COMPONENT_driver.qsci if MCUX_PRJSEG_module.board.console_lite
    select MCUX_COMPONENT_component.qsci_adapter if MCUX_PRJSEG_module.board.console_lite
    select MCUX_COMPONENT_driver.clock if MCUX_PRJSEG_module.board.clock
