# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause
#

config MCUX_PRJSEG_module.board.display_support
    select MCUX_COMPONENT_driver.display-rm68200
    select MCUX_COMPONENT_driver.display-hx8394
    select MCUX_COMPONENT_driver.lpi2c

if MCUX_PRJSEG_module.board.display_support

    config DEMO_PANEL
        int
        default 0 if MCUX_PRJSEG_module.board.display_support.RK055AHD091
        default 1 if MCUX_PRJSEG_module.board.display_support.RK055MHD091A0
        help
            Panel selection for display support
            No prefix in generated macro


    choice MCUX_PRJSEG_module.board.display_support.panel
        prompt "Panel Selection"
        default MCUX_PRJSEG_module.board.display_support.RK055MHD091A0

        config MCUX_PRJSEG_module.board.display_support.RK055AHD091
            bool "RK055AHD091-CTG"

        config MCUX_PRJSEG_module.board.display_support.RK055MHD091A0
            bool "RK055MHD091A0-CTG"

    endchoice


    config APP_DISPLAY_EXTERNAL_CONVERTOR
        bool "Use HDMI port"
        help
            No prefix in generated macro


endif
