#
# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config dsp_board
    string
    default "$(board)"

config dsp_toolchain
    string
    default "xtensa"

source "${SdkRootDirPath}/${board_root}/${board}/Kconfig.sysbuild"
