# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config ezhv_board
    string
    default "$(board)"

config ezhv_toolchain
    string
    default "riscvllvm"

# This is for internal board support
osource "${SdkRootDirPath}/${board_root}/${board}/Kconfig.sysbuild"

# This is for external custom board support
osource "${CUSTOM_BOARD_ROOT}/${board}/Kconfig.sysbuild"
