# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config ezhv_board
    string
    default "$(board)"

config ezhv_toolchain
    string
    default "riscvllvm"

source "${SdkRootDirPath}/examples/_boards/${board}/Kconfig.sysbuild"
