# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

menu "Project Settings"

config EXAMPLE_I2C_BAUDRATE
    int "I2C mode baud rate"
    default 400000
    help
        No prefix in generated macro
        type unsigned

config EXAMPLE_I3C_OD_BAUDRATE
    int "I3C open-drain mode baud rate"
    default 2000000
    help
        No prefix in generated macro
        type unsigned

config EXAMPLE_I3C_PP_BAUDRATE
    int "I3C push-pull mode baud rate"
    default 4000000
    help
        No prefix in generated macro
        type unsigned

endmenu

source "${SdkRootDirPath}/Kconfig.mcuxpresso"
