# It is optional to provide example specific Kconfig.

rsource "${SdkRootDirPath}/Kconfig.mcuxpresso"

mainmenu "PSA Crypto Opaque Key example Configuration"

config TEST_KEY_LOCATION
    default 0x0
    hex "The key location to be used for test"
    help
        No prefix in generated macro
        This macro defines a PSA API psa_key_location_t value for the keys used
        in this test example. The default value is overridden in the device-specific
        project configuration files. For more information on the meaning of this value,
        please refer to the PSA API documentation for the psa_key_location_t type.
