# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

menu "Project Settings"

config EXAMPLE_I3C_HDR_SUPPORT
    bool "I3C HDR transfer case support"
    default y
    help
        No prefix in generated macro

endmenu

source "${SdkRootDirPath}/Kconfig.mcuxpresso"
