# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

orsource "${core_id}/Kconfig.prjseg"

rsource "../../_common/project_segments/lvgl/Kconfig.prjseg"
rsource "../../_common/project_segments/freertos/examples/tickless/Kconfig.prjseg"
rsource "../../lvgl_examples/lvgl_sdk/lvgl_support/flexcomm_spi/Kconfig.lvgl_support"
