#
# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

rsource "../../../Kconfig.mcuxpresso"

menu "RPMSG-Lite Ping-Pong DSP Config"

config RPMSG_LITE_PINGPONG_SWITCH_COMM
    bool "RPMSG-Lite PingPong DSP Switch Communication"
    default n
    help
        Set this to Switch Example communication channels.
        When Set to `n` the CM33_0 will communicate with the Hifi4 and
        CM33_1 will communicate with the Hifi1 by default.
        When Set to `y` the CM33_0 will communicate with the Hifi1 and
        CM33_1 will communicate with the Hifi4.

endmenu
