# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

rsource "Kconfig.defconfig"

config MCUX_HW_BOARD_twrkm34z75m
    bool
    default y
    imply MCUX_HW_DEVICE_MKM34Z7
    imply MCUX_COMPONENT_driver.clock
    imply MCUX_COMPONENT_driver.common
    imply MCUX_COMPONENT_driver.uart
    imply MCUX_COMPONENT_driver.lpuart
    imply MCUX_COMPONENT_driver.irtc
    imply MCUX_COMPONENT_driver.port
    imply MCUX_COMPONENT_driver.smc
    imply MCUX_COMPONENT_driver.gpio
    imply MCUX_COMPONENT_driver.xbar
