# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

menu "Project Settings"

config DLC
    int "CAN frame data length in bytes (Range: 1~8)"
    default 8
    range 1 8
    help
        Correspond to the DLC field value of frame to be transmitted.
        No prefix in generated macro
        type unsigned

endmenu

source "${SdkRootDirPath}/Kconfig.mcuxpresso"
