# Copyright 2024-2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

orsource "${core_id}/Kconfig.prjseg"
rsource "../../../examples/_common/project_segments/freertos/examples/tickless/Kconfig.prjseg"
