# Copyright 2024-2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

if MCUX_DEMO_PANEL_RK055AHD091_SUPPORT
    config DEMO_PANEL_RK055AHD091
        int
        default 0
        help
            Driver selection for panel RK055AHD091
            No prefix in generated macro
endif

if MCUX_DEMO_PANEL_RK055IQH091_SUPPORT
    config DEMO_PANEL_RK055IQH091
        int
        default 1
        help
            Driver selection for panel RK055IQH091
            No prefix in generated macro
endif

if MCUX_DEMO_PANEL_RK055MHD091A0_SUPPORT
    config DEMO_PANEL_RK055MHD091A0
        int
        default 2
        help
            Driver selection for panel RK055MHD091A0
            No prefix in generated macro
endif

if MCUX_DEMO_PANEL_G1120B0MIPI_SUPPORT
    config DEMO_PANEL_G1120B0MIPI
        int
        default 3
        help
            Driver selection for panel G1120B0MIPI
            No prefix in generated macro
endif

if MCUX_DEMO_PANEL_TFT_PROTO_5_SUPPORT
    config DEMO_PANEL_TFT_PROTO_5
        int
        default 4
        help
            Driver selection for panel TFT_PROTO_5
            No prefix in generated macro
endif

if MCUX_DEMO_PANEL_RASPI_7INCH_SUPPORT
    config DEMO_PANEL_RASPI_7INCH
        int
        default 5
        help
            Driver selection for panel RASPI_7INCH
            No prefix in generated macro
endif

if MCUX_DEMO_PANEL_ZC143AC72MIPI_SUPPORT
    config DEMO_PANEL_ZC143AC72MIPI
        int
        default 6
        help
            Driver selection for panel ZC143AC72MIPI
            No prefix in generated macro
endif

if MCUX_DEMO_PANEL_ADAFRUIT_2_8_SUPPORT
    config DEMO_PANEL_ADAFRUIT_2_8
        int
        default 7
        help
            Driver selection for panel ADAFRUIT_2_8
            No prefix in generated macro
endif

if MCUX_DEMO_PANEL_LCD_PAR_S035_SUPPORT
    config DEMO_PANEL_LCD_PAR_S035
        int
        default 8
        help
            Driver selection for panel LCD_PAR_S035
            No prefix in generated macro
endif

if MCUX_DEMO_PANEL_RK043FN02H_SUPPORT
    config DEMO_PANEL_RK043FN02H
        int
        default 9
        help
            Driver selection for panel RK043FN02H
            No prefix in generated macro
endif

if MCUX_DEMO_PANEL_RK043FN66HS_SUPPORT
    config DEMO_PANEL_RK043FN66HS
        int
        default 10
        help
            Driver selection for panel RK043FN66HS
            No prefix in generated macro
endif

if MCUX_DEMO_PANEL_LCD_SPEC_SUPPORT
    config DEMO_PANEL_LCD_SPEC
        int
        default 11
        help
            Driver selection for panel LCD_SPEC
            No prefix in generated macro
endif

if MCUX_DEMO_PANEL_LVDS_DUAL_PANEL_SUPPORT
    config DEMO_PANEL_LVDS_DUAL_PANEL
        int
        default 12
        help
            Driver selection for panel LVDS_DUAL_PANEL
            No prefix in generated macro
endif

if MCUX_DEMO_PANEL_MX9_DSI_OLED_SUPPORT
    config DEMO_PANEL_MX9_DSI_OLED
        int
        default 13
        help
            Driver selection for panel MX9_DSI_OLED
            No prefix in generated macro
endif

if MCUX_DEMO_PANEL_MIPI2HDMI_SUPPORT
    config DEMO_PANEL_MIPI2HDMI
        int
        default 14
        help
            Driver selection for panel MIPI2HDMI
            No prefix in generated macro
endif

if MCUX_DEMO_PANEL_LVDS2HDMI_SUPPORT
    config DEMO_PANEL_LVDS2HDMI
        int
        default 15
        help
            Driver selection for panel LVDS2HDMI
            No prefix in generated macro
endif

if MCUX_DEMO_PANEL_CAP_TOUCH_LVDS_SUPPORT
    config DEMO_PANEL_CAP_TOUCH_LVDS
        int
        default 16
        help
            Driver selection for panel CAP_TOUCH_LVDS
            No prefix in generated macro
endif

if MCUX_DEMO_PANEL_CAP_TOUCH_DSI_SUPPORT
    config DEMO_PANEL_CAP_TOUCH_DSI
        int
        default 17
        help
            Driver selection for panel CAP_TOUCH_DSI
            No prefix in generated macro
endif

config MCUX_PRJSEG_module.board.display_support
    bool "Enable Display Support"

config MCUX_DEMO_PANEL_RK055AHD091_SUPPORT
    bool

config MCUX_DEMO_PANEL_RK055IQH091_SUPPORT
    bool

config MCUX_DEMO_PANEL_RK055MHD091A0_SUPPORT
    bool

config MCUX_DEMO_PANEL_G1120B0MIPI_SUPPORT
    bool

config MCUX_DEMO_PANEL_TFT_PROTO_5_SUPPORT
    bool

config MCUX_DEMO_PANEL_RASPI_7INCH_SUPPORT
    bool

config MCUX_DEMO_PANEL_ZC143AC72MIPI_SUPPORT
    bool

config MCUX_DEMO_PANEL_ADAFRUIT_2_8_SUPPORT
    bool

config MCUX_DEMO_PANEL_LCD_PAR_S035_SUPPORT
    bool

config MCUX_DEMO_PANEL_RK043FN02H_SUPPORT
    bool

config MCUX_DEMO_PANEL_RK043FN66HS_SUPPORT
    bool

config MCUX_DEMO_PANEL_LCD_SPEC_SUPPORT
    bool

config MCUX_DEMO_PANEL_LVDS_DUAL_PANEL_SUPPORT
    bool

config MCUX_DEMO_PANEL_MX9_DSI_OLED_SUPPORT
    bool

config MCUX_DEMO_PANEL_MIPI2HDMI_SUPPORT
    bool

config MCUX_DEMO_PANEL_LVDS2HDMI_SUPPORT
    bool

config MCUX_DEMO_PANEL_CAP_TOUCH_LVDS_SUPPORT
    bool

config MCUX_DEMO_PANEL_CAP_TOUCH_DSI_SUPPORT
    bool

if MCUX_PRJSEG_module.board.display_support

config DEMO_PANEL
    int
    default 0 if RK055AHD091
    default 1 if RK055IQH091
    default 2 if RK055MHD091A0
    default 3 if G1120B0MIPI
    default 4 if TFT_PROTO_5
    default 5 if RASPI_7INCH
    default 6 if ZC143AC72MIPI
    default 7 if ADAFRUIT_2_8
    default 8 if LCD_PAR_S035
    default 9 if RK043FN02H
    default 10 if RK043FN66HS
    default 11 if LCD_SPEC
    default 12 if LVDS_DUAL_PANEL
    default 13 if MX9_DSI_OLED
    default 14 if MIPI2HDMI
    default 15 if LVDS2HDMI
    default 16 if CAP_TOUCH_LVDS
    default 17 if CAP_TOUCH_DSI
    help
        Panel selection for display support
        No prefix in generated macro

choice DISPLAY_SUPPORT_PANEL
    prompt "Panel Selection"

    config RK055AHD091
        bool "RK055AHD091-CTG" if MCUX_DEMO_PANEL_RK055AHD091_SUPPORT

    config RK055IQH091
        bool "RK055IQH091-CTG" if MCUX_DEMO_PANEL_RK055IQH091_SUPPORT

    config RK055MHD091A0
        bool "RK055MHD091A0-CTG" if MCUX_DEMO_PANEL_RK055MHD091A0_SUPPORT

    config G1120B0MIPI
        bool "MIPI Circular Display G1120B0MIPI" if MCUX_DEMO_PANEL_G1120B0MIPI_SUPPORT

    config TFT_PROTO_5
        bool "MikroE TFT Proto 5 inch CAPACITIVE" if MCUX_DEMO_PANEL_TFT_PROTO_5_SUPPORT

    config RASPI_7INCH
        bool "Raspberry Pi 7 inch" if MCUX_DEMO_PANEL_RASPI_7INCH_SUPPORT

    config ZC143AC72MIPI
        bool "MIPI Circular Display ZC143AC72MIPI" if MCUX_DEMO_PANEL_ZC143AC72MIPI_SUPPORT

    config ADAFRUIT_2_8
        bool "Adafruit 2.8 inch captative panel" if MCUX_DEMO_PANEL_ADAFRUIT_2_8_SUPPORT

    config LCD_PAR_S035
        bool "LCD_PAR_S035 panel" if MCUX_DEMO_PANEL_LCD_PAR_S035_SUPPORT

    config RK043FN02H
        bool "RK043FN02H-CT" if MCUX_DEMO_PANEL_RK043FN02H_SUPPORT

    config RK043FN66HS
        bool "RK043FN66HS-CTG" if MCUX_DEMO_PANEL_RK043FN66HS_SUPPORT

    config LCD_SPEC
        bool "LCD_SPEC panel" if MCUX_DEMO_PANEL_LCD_SPEC_SUPPORT

    config LVDS_DUAL_PANEL
        bool "LVDS_DUAL_PANEL panel" if MCUX_DEMO_PANEL_LVDS_DUAL_PANEL_SUPPORT

    config MX9_DSI_OLED
        bool "MX9_DSI_OLED panel" if MCUX_DEMO_PANEL_MX9_DSI_OLED_SUPPORT

    config MIPI2HDMI
        bool "MIPI2HDMI convertor card" if MCUX_DEMO_PANEL_MIPI2HDMI_SUPPORT

    config LVDS2HDMI
        bool "LVDS2HDMI convertor card" if MCUX_DEMO_PANEL_LVDS2HDMI_SUPPORT

    config CAP_TOUCH_LVDS
        bool "CAP_TOUCH_LVDS panel" if MCUX_DEMO_PANEL_CAP_TOUCH_LVDS_SUPPORT

    config CAP_TOUCH_DSI
        bool "CAP_TOUCH_DSI panel" if MCUX_DEMO_PANEL_CAP_TOUCH_DSI_SUPPORT

endchoice

endif

orsource "../../../../${board_root}/${board}/project_segments/display_support/Kconfig.prjseg"
